# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
terraform.tfvars
terraform.tfvars.json

# Terraform plan files
*.tfplan

# Sensitive files
*.pem
*.key
.env

# Node
node_modules/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log
